<header>
  <div class="header-content">
    <img src="assets/logo_Medisoft.png" alt="Logo del Sitio" style="height: 140px;" />
    <nav class="header-nav">
      <ul>
        <li><a routerLink="home" routerLinkActive="active">INICIO</a></li>
        <li><a routerLink="servicios" routerLinkActive="active">SERVICIOS</a></li>
        <li><a routerLink="nosotros" routerLinkActive="active">NOSOTROS</a></li>
        <li><a routerLink="contactanos" routerLinkActive="active">CONTÁCTANOS</a></li>
      </ul>
    </nav>
  </div>
</header>

