<div class="home">
  <div class="background-image" style="background-image: url('assets/Software-de-Mantenimiento.jpg');"></div>
  <h2 class="title">Software para Gestión de Mantenimiento Biomédico</h2>
  <h2 class="title2">Nuestros servicios tienen todo lo necesario para llevar a cabo una gestión de mantenimiento efectiva</h2>

  <br>
  <br>

  <div class="content1">
    <h2>Mantenimientos Preventivos</h2>
    <img src="assets/icono1.jpg" alt="Imagen 3" />
    <p class="description">Gestiona de manera eficiente los mantenimientos<br>preventivos, facilitando la planificación y ejecución de<br>tareas, asegurando la integridad y disponibilidad óptima<br>de los equipos.</p>
  </div>

  <div class="content2">
    <h2>Actividades Metrológicas</h2>
    <img src="assets/icono2.jpg" alt="Imagen 4" />
    <p class="description">Optimiza la gestión de actividades de metrología<br>en equipos médicos. Planifica y ejecuta tareas<br>asegurando la precisión y disponibilidad óptima.</p>
  </div>

  <div class="content3">
    <h2>Mantenimientos Correctivos</h2>
    <img src="assets/icono3.jpg" alt="Imagen 5" />
    <p class="description">Mejora la gestión de mantenimientos correctivos<br>en equipos médicos. Planifica y ejecuta intervenciones<br>asegurando la prontitud y disponibilidad óptima. Accede<br>a registros detallados y seguimiento en tiempo real,<br>simplifica la administración y maximiza la eficacia.</p>
  </div>


  <br>
  <br>


  <div class="content4">
    <h2 class="title4">Acceso desde cualquier dispositivo</h2>
  </div>

  <div class="content5">
  <p class="description5">Supervise la administración del mantenimiento desde cualquier ubicación. 
    Observe en tiempo real el estado de los equipos, órdenes de trabajo, 
    repuestos y registros de eventos o incidentes adversos.<br><br>

    - Acceda fácilmente desde cualquier dispositivo.<br>
    - Centralice la información, accesible desde cualquier lugar.
  </p>
  
  <div class="content6">
    <img src="assets/imagen6.png" alt="Imagen 6" />
  </div>

  <div class="content7">
    <a href="https://api.whatsapp.com/send/?phone=573028482778&text&type=phone_number&app_absent=0" 
    class="contact-button" style="display: inline-block; width: 120px; height: 50px; 
    text-align: center; line-height: 50px; background-color: #007bff; color: #fff; 
    text-decoration: none;">Contáctanos</a>
  </div>


</div>

  <br>
  <br>
  <br>
  <br>
  <br>

</div>

  <form style="margin: 0 auto; background-image: url('assets/imagen_fondo.jpg'); background-size: contain; padding: 20px;">

    <h2 style="text-align: center; color: black;">Déjanos tus datos de contacto para responder a tus preguntas o solicitud de cotización</h2>
  
    <div style="margin-bottom: 20px;">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" style="width: 100%; height: 50px;" placeholder="Escribe tu nombre" required>
    </div>
  
    <div style="margin-bottom: 20px;">
      <label for="celular">Celular:</label>
      <input type="tel" id="celular" name="celular" style="width: 100%; height: 50px;" placeholder="Escribe tu número de celular" required>
    </div>
  
    <div style="margin-bottom: 20px;">
      <label for="correo">Correo:</label>
      <input type="email" id="correo" name="correo" style="width: 100%; height: 50px;" placeholder="Escribe tu correo electrónico" required>
    </div>
  
    <div style="margin-bottom: 20px;">
      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" style="width: 100%; height: 100px;" placeholder="Escribe tu mensaje"></textarea>
    </div>
  
    <a href="https://api.whatsapp.com/send/?phone=573028482778&text&type=phone_number&app_absent=0" style="display: inline-block; width: 100px; height: 40px; text-align: center; line-height: 40px; background-color: #007bff; color: #fff; text-decoration: none;">Contáctanos</a>
  
  </form>
  
  <router-outlet></router-outlet>
  
