.social-icon-1 {
    width: 20px; /* Tamaño deseado en píxeles */
    height: 20px; /* Tamaño deseado en píxeles */
    margin-right: 20px;
  }

.social-icon-2
{
    width: 20px; /* Tamaño deseado en píxeles */
    height: 20px; /* Tamaño deseado en píxeles */ 
}
.footer-content 
    {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; /* Añade margen o espaciado según tus preferencias */
  }

  div.contact
  {
    margin-right: 120px;
  }

  div.social
  {
    margin-bottom: 45px;
  }

  .colored-footer {
    background-color: #00ffff; /* Cambia #ff9900 al color que desees */
  }
  
