<footer class="colored-footer">
    <div class="footer-content">
      <div class="contact">
        <h3>Contáctanos</h3>
        <p>Dirección: Calle 23 # 23 - 11, Manizales, Colombia</p>
        <p>Teléfono: +57 3028482778</p>
      </div>
      <div class="social">
        <h3>Síguenos en nuestras redes sociales</h3>
        <a href="https://www.instagram.com"><img src="assets/logo-instagram.png" alt="Instagram" class="social-icon-1" /></a>
        <a href="https://www.facebook.com"><img src="assets/logo-facebook.png" alt="Facebook" class="social-icon-2" /></a>
      </div>
    </div>
  </footer>
